{% extends "menu.html"%}


{%block title%} {{super()}} - Extrato{%endblock%}

{% block menu%}

<div class="container-fluid">                     
    <div class="row">                     

        <div class="col-xl-12 col-lg-12">
            <!-- Approach -->
            <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Extratos</h6>
                </div>
                <div class="card-body">                                    

                </div>
            </div>

        </div>
    </div>

</div>

{%endblock%}